<% provide(:title, "Vertretungen") %>
<div class="center hero-unit">
<h1>Vertretungen</h1>
<p>
  Meine Vertretungen:
</p>
<%= image_tag("Huber_Ranner_Logo.jpg", alt: "Huber und Ranner Logo") %>
</div>
