<% provide(:title, "Kontakt") %>
<h1>Kontakt</h1>
<address>
  <strong>Industrievertretung</strong><br>
  Roland Wittig<br>
  Osloer Str. 77<br>
  13359, Berlin<br>
  <abbr title="Telefon">Tel:</abbr> (030) 123-456-787 <br>
  Fax: (030) 123-456-788 <br>
  <abbr title="Handy">H:</abbr> (030) 123-456-789
</address>

<address>
  <strong>Roland Wittig</strong><br>
  <a href="mailto:roland-wittig@t-online.de">roland-wittig@t-online.de</a>
</address>
