<% provide(:title, "Home") %>
<div class="center hero-unit">
<h1>Industrievertretung Wittig</h1>
<p>
  Das ist die Homepage von Roland Wittig.<br><br>

  <%= Lorem::Base.new('paragraphs', 5).output %>
</p>
<%= image_tag("IVW_Logo.png", alt: "IVW Logo") %>
</div>
