<div class="footer">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
          <small>
            &copy; 2014 Industrievertretung Wittig GmbH
          </small>
        </div>
        <div class="col-md-4">
          <a href="http://iv-wittig.de">iv-wittig.de</a>
          erstellt von Michael Wittig
        </div>
        <div class="col-md-4">
          <nav>
            <ul>
              <li><%= link_to "Über mich",   about_path %></li>
              <li><%= link_to "Kontakt",   contact_path %></li>
              <li><a href="#">Nach oben</a></li>
            </ul>
          </nav>
        </div>
      </div>
  </div>
</div>
